.Card {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  top: 40px;
  left: 10px;
  cursor: pointer;
}

.Card-left, .Card-right {
  position: absolute;
}

.Card-left {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.Card-right {
  top: 0;
  left: 80px;
  width: 19px;
  height: 100px; 
  border-left: 1px solid black;
}

.Card.right .Card-right {
  left: 20px;
  width: 79px;
}

.ScoreCard {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background: grey;
  border-left: 1px solid black;
}

.ScoreCard .solution {
  margin: 10px;
}

.ScoreCard .solution div {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 1px solid black;
  display: inline-block;
}

.ScoreCard .solution div.white {
  background: white;
}

.ScoreCard .solution div.black {
  background: black;
}